body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Class Banner Image */
.banner-container {
  background: url('images/Luc-Class.jpg');
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-color: black;
}

.name {
  display: flex;
  justify-content: center;
  color: fff;
  margin: 0;
  font-size: 2rem;
  /* text-shadow: white; */
}

.coach {
  display: flex;
  justify-content: center;
  color: fff;
  margin: 0;
  font-size: 2rem;
  /* text-shadow: white; */
}
li {
  list-style: none;
}

.header.container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  background-image: linear-gradient(to top left, black, #2f4f4f);
  padding: 50px;
  justify-content: space-between;
  margin: 0;
}

.About-Me {
  img {
    border-radius: 50%;
  }
  position: right;
  width: 300px;
}

div.bio-image {
  border-radius: 50%;
}

.CFC {
  /* background: url('images/CFC Certificate.jpg'); */
  width: 720px;
  height: 960px;
  margin: auto;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  background-color: black;
}

.USCF {
  width: 720px;
  height: 960px;
  margin: auto;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.services {
  /* background: url('images/blackchessbackground.jpg'); */
  object-fit: contain;
}
