body {
  margin: 0;
  font-family: Sans-Serif;
}

a {
  color: royalblue;
  text-decoration: none;
}

li {
  font-size: 1.175rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  text-align: center;
  width: 100vw;
  /* text-decoration: underline; */
  margin-bottom: 3rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}
/* images/Luc-Poitras-Tournament.jpg */
.banner-container {
  background: url('images/LucClass.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: 100vw;
  background-color: black;
}

h2.About Me {
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
  color: linear-gradient(black, grey);
  border-color: #2f4f4f;
  font-size: 4rem;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.9;
}

.coach {
  display: flex;
  justify-content: center;
  color: fff;
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}

li {
  list-style: none;
}

.header.container ul {
  display: flex;
  flex-direction: row;
  background: black;
  background-image: linear-gradient(to top left, black, #2f4f4f);
  padding: 50px;
  justify-content: space-between;
  margin: 0;
}

.About-Me {
  display: flex;
  flex: wrap;
  border-style: double;
  margin: 1rem;
  background: lightgrey;
}

.credentials {
  margin: 1rem;
  border-style: double;
  background: lightgrey;
}

div.bio-image {
  margin: 1rem;
}

.CFC {
  width: 550px;
  margin: auto;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.USCF {
  width: 40%;
  margin: auto;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

div.services {
  margin-top: 1rem;
  background: url('images/blackchessbackground.jpg') repeat fixed center;
  background-size: 1000px;
  color: white;
  text-indent: 1rem;
  height: 400px;
}

.blog-site {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.blog {
  /* margin: 1rem; */
  border-style: double;
  margin: 1rem;
  background: lightgrey;
}
.inner-hand-crafted-text {
  margin: 2rem;
}

.contact {
  /* margin: 1rem; */
  border-style: double;
  margin: 1rem;
  background: lightgrey;
}

.signupform {
  border: double;
  width: 350px;
  /* To make a box around the requirments for parents */
  margin: 1rem;
  text-align: left;
  /* margin-left: auto%;
  margin-right: auto%; */
  padding-left: 0.5rem;
}

.contact-inner {
  margin: 2rem;
}

ul.footer-section.container {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
