body {
  margin: 0;
  font-family: Sans-Serif;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 8px #ff0000;
}

li {
  font-size: 1.25rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  text-align: center;
  width: 100vw;
  text-decoration: underline;
  margin-bottom: 3rem;
}

/* images/Luc-Poitras-Tournament.jpg */
/* Class Banner Image */
.banner-container {
  background: url('images/LucClass.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 100vw;
  background-color: black;
}

h2.About-Me {
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
  color: fff;
  font-size: 3rem;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}

.coach {
  display: flex;
  justify-content: center;
  color: fff;
  margin: 0;
  font-size: 2rem;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}
li {
  list-style: none;
}

.header.container ul {
  display: flex;
  flex-direction: row;
  background: black;
  background-image: linear-gradient(to top left, black, #2f4f4f);
  padding: 50px;
  justify-content: space-between;
  margin: 0;
}

.About-Me {
  /* margin: 1rem; */
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  border-style: double;
}

.credentials {
  /* margin: 1rem; */
  width: 100vw;
  border-style: double;
}

div.bio-image {
  width: 40%;
}
.about-text {
  width: 40%;
}

.CFC {
  width: 550px;
  margin: auto;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  background-color: black;
}

.USCF {
  width: 40%;
  margin: auto;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

div.services {
  margin-top: 1rem;
  background: url('images/blackchessbackground.jpg') repeat fixed center;
  background-size: 1000px;
  color: white;
  text-indent: 1rem;
  height: 400px;
}

.blog {
  /* margin: 1rem; */
  border-style: double;
}
.inner-hand-crafted-text {
  margin: 2rem;
}

.contact {
  /* margin: 1rem; */
  border-style: double;
}

.contact-inner {
  margin: 2rem;
}

ul.footer-section.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
