body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* background: red; */
}

/* Class Banner Image */
.banner-container {
  background: url('images/Luc-Class.jpg');
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-color: black;
}

.name {
  color: fff;
}
li {
  list-style: none;
}

.header.container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  padding: 50px;
  justify-content: space-between;
}

img.About-Me {
  border-radius: 100px 100px;
  position: right;
  width: 300px;
}

.CFC {
  /* background: url('images/CFC Certificate.jpg'); */
  width: 720px;
  height: 960px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.USCF {
  width: 720px;
  height: 960px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
