body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* background: red; */
}

/* Class Banner Image */
.banner-container {
  background: url('images/Luc-Class.jpg');
  height: 500px;
  width: 100vw;
}

.name {
  color: fff;
}
li {
  list-style: none;
}

.header.container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  padding: 50px;
  justify-content: space-between;
}

.about {
  background: url('images/Luc-Poitras-Tournament.jpg');
  height: 390px;
  background-repeat: no-repeat;
  border-radius: 100px 100px;
  background-position: right;
  width: 300px;
}

.CFC {
  /* background: url('images/CFC Certificate.jpg'); */
  height: 100%;
}

.USCF {
  /* background: url('images/USCF Certificate.jpg'); */
  height: 100%;
}
